# pyslm requirements
sphinx
numpy
scipy
shapely
networkx
Rtree
trimesh
triangle
scikit-image
cython
pyclipper

# Our requirements
autopep8 # formatting as per 
tqdm # progress bars
nptyping # supports type hints for numpy
numba # Offers some decorators that perform JIT compilation (https://numba.pydata.org/)