# pyslm requirements
sphinx
numpy
scipy
shapely
networkx
Rtree
trimesh
triangle
scikit-image
cython
pyclipper

# Our requirements 
tqdm # progress bars 
nptyping # numpy array type hints 
sklearn # input and general processing 
pandas # interface w/ Excel input file 
openpyxl # Needed by pandas to interface with Excel input file 
typeguard # Makes runtime type checking easier (works based off of type hints and just requires a decorator)